@page "/template-info"

<MudContainer Style="padding: 20px;">
    <br />
    <MudGrid Justify="Justify.Center" Class="mt-4">
        <MudItem>
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Create" OnClick="@(() => OnToggleAct.InvokeAsync())" />
        </MudItem>
        <MudItem>
            <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.FileDownload" OnClick="@(() => OnToggleAct.InvokeAsync())" />
        </MudItem>
        <MudItem>
            <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.Cancel" OnClick="@(() => OnToggleAct.InvokeAsync())" />
        </MudItem>
    </MudGrid>
    <br />
    <MudPaper Class="d-flex flex-row shadow-xl rounded-1 overflow-hidden">

        <!-- Left Sidebar -->
        <MudPaper Class="pa-4" Style="width:30%; background-color:#1E2A38; color:white;">

            <div style="display: flex; justify-content: center; align-items: center;">
                <MudAvatar Style="width:150px; height:150px;">
                    <MudImage Src="@resume.PersonalOverview.ImageUrl" Alt="Avatar" />
                </MudAvatar>
            </div>

            <MudText Typo="Typo.h5" Align="Align.Center">@resume.PersonalOverview.Name</MudText>
            <MudText Typo="Typo.subtitle2" Align="Align.Center">@resume.PersonalOverview.Title</MudText>

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.subtitle1" Class="mb-2"><b>PROFILE</b></MudText>
            <MudText Typo="Typo.body2">@resume.PersonalOverview.Summary</MudText>

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.subtitle1"><b>CONTACT</b></MudText>
            <MudText Typo="Typo.body2">@resume.Contact.Address</MudText>
            <MudText Typo="Typo.body2">@resume.Contact.Email</MudText>
            <MudText Typo="Typo.body2">@string.Join(", ", resume.Contact.Phone)</MudText>
            <MudLink Href="@resume.Contact.LinkedIn" Target="_blank">LinkedIn</MudLink><br />
            <MudLink Href="@resume.Contact.GitHub" Target="_blank">GitHub</MudLink><br />
            <MudLink Href="@resume.Contact.Portfolio" Target="_blank">Portfolio</MudLink>

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.h6">TECHNICAL SKILLS</MudText>
            @foreach (var s in resume.TechnicalSkills)
            {
                <MudText Typo="Typo.subtitle2">@s.Category</MudText>
                <ul>
                    @if (s.Skill1 != null)
                    {
                        foreach (var sk in s.Skill1)
                        {
                            <li>@sk</li>
                            ;
                        }
                    }
                    @if (s.Skill2 != null)
                    {
                        foreach (var sk in s.Skill2)
                        {
                            <li>@sk</li>
                            ;
                        }
                    }
                    @if (s.Skill3 != null)
                    {
                        foreach (var sk in s.Skill3)
                        {
                            <li>@sk</li>
                            ;
                        }
                    }
                </ul>
            }

        </MudPaper>

        <!-- Right Main Content -->
        <MudPaper Class="pa-6" Style="width:70%; background-color:floralwhite;">
            <MudText Typo="Typo.h4" Color="Color.Primary">@resume.PersonalOverview.Name</MudText>
            <MudText Typo="Typo.subtitle1">@resume.PersonalOverview.Title</MudText>
            <MudDivider Class="my-4" />

            <MudText Typo="Typo.h6" Class="mb-2">EXPERIENCE</MudText>
            @foreach (var exp in resume.ProfessionalExperience)
            {
                <div class="mb-4">
                    <MudText Typo="Typo.subtitle2">@exp.Role - <b>@exp.CompanyName</b> (@exp.Duration)</MudText>
                    <MudText Typo="Typo.body2"><b>Responsibilities:</b></MudText>
                    <ul>
                        @foreach (var r in exp.Details.Responsibilities)
                        {
                            <li>@r</li>
                        }
                    </ul>
                    <MudText Typo="Typo.body2"><b>Achievements:</b></MudText>
                    <ul>
                        @foreach (var ac in exp.Details.Achievements)
                        {
                            <li>@ac</li>
                        }
                    </ul>
                </div>
            }

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.h6">PROJECTS</MudText>
            @foreach (var p in resume.Projects)
            {
                <div class="mb-3">
                    <MudText Typo="Typo.subtitle2">@p.Name (@p.Date.ToString())</MudText>
                    <MudText Typo="Typo.body2">@p.Description</MudText>
                    <MudLink Href="@p.Link" Target="_blank">View Project</MudLink>
                </div>
            }

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.h6">EDUCATION</MudText>
            @foreach (var e in resume.Education)
            {
                <div class="mb-2">
                    <MudText Typo="Typo.subtitle2">@e.Degree - <b>@e.Institution</b></MudText>
                    <MudText Typo="Typo.caption">@e.Duration</MudText>
                    <MudText Typo="Typo.body2">@e.Description</MudText>
                </div>
            }

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.h6">CERTIFICATIONS</MudText>
            @foreach (var c in resume.Certifications)
            {
                <div>
                    <MudText Typo="Typo.subtitle2">@c.Name (@c.Duration)</MudText>
                    <MudText Typo="Typo.body2">@c.Courses</MudText>
                </div>
            }

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.subtitle1"><b>ACHIEVEMENTS</b></MudText>
            <ul>
                @foreach (var a in resume.Achievements.Items)
                {
                    <li>@a</li>
                }
            </ul>

            <MudDivider Class="my-4" />
            <MudText Typo="Typo.subtitle1"><b>FOOTER</b></MudText>
            <MudText Typo="Typo.body2">@resume.ResumeFooter.ContactInfo</MudText>
            <MudText Typo="Typo.caption">@resume.ResumeFooter.SocialMediaLinks</MudText>
        </MudPaper>
    </MudPaper>
</MudContainer>

@code {

    [Parameter] public string? ResumeCode { get; set; }
    private string ResumeName = "Tanjiro Kamado";
    [Parameter] public EventCallback OnToggleAct { get; set; }


    private ResumeModel resume => CommonFunction.GetResumeModelByName(ResumeCode ?? ResumeName);
}
